/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}
.info {
	color: #00529B;
	background-color: #BDE5F8;
}

.success {
	color: #4F8A10;
	background-color: #DFF2BF;
}

.warning {
	color: #9F6000;
	background-color: #FEEFB3;
}

.error {
	color: #D8000C;
	background-color: #FFBABA;
}
.footer {
   position:fixed;
   left:0px;
   bottom:0px;
   height:30px;
   width:100%;
}