{% extends "base.html" %}

{% block page_title %}Search Debtor{% endblock %}

{% block caption %}Search Customer{% endblock %}

{% block content %}
	<br />
	<br />
	<div class="row">
		<form method="get" class="col s12">
			{% if form.errors %}
			<div>
			  <ul class="collection">
			    {% for error in form.non_field_errors %}
			      <li class="collection-item orange-text error">{{ error }}</li>
			    {% endfor %}
			    here
			  </ul>
			</div>
			{% endif %}

			<div class="input-field col s6 row">
	        	{{ form.q }}
	        	<label for="{{ form.q.id_for_label }}">
	                {{ form.q.label }} <span class="form-field-error">{{ form.q.errors.as_text }}</span>
	            </label>
	    	</div>
	    	<div class="input-field col s6">
			<input class="btn waves-effect waves-light teal darken-2" type="submit" name="action" value="Search" /></div>
		</form>

		<div class="col s12">
		{% for detail in debtors %}
		<div class="row">
	        <div class="col s12">
	          <div class="card blue-grey darken-1">
	            <div class="card-content white-text">
	              <span class="card-title">{{ detail.debtor }}</span>
	              <p>
	              	<pre>Creditor:	{{ detail.creditor }} <br /></pre>
	              	<pre>ID:		{{ detail.id_number }} <br /></pre>
	              	<pre>Cell:		{{ detail.cell }} <br /></pre>
	              	<pre>Amount:		{{ detail.amount }} <br /></pre>
	              </p>
	            </div>
	          </div>
	        </div>
	    </div>

	    {% empty %}
		<div class="row">
	        <div class="col s12">
	          <div class="card blue-grey darken-1">
	            <div class="card-content white-text">
	              <p>
	              {% if request.GET.q %}
	              No results found
	              {% else %}
	              Results will be shown here.
	              {% endif %}
	          	  </p>
	            </div>
	          </div>
	        </div>
	    </div>
		
		{% endfor %}
		</div>
	</div>

{% endblock %}