{% extends "base.html" %}

{% block page_title %}
	View Debtors
{% endblock %}

{% block content %}
	<br />
	<form method="get">
		<input type="text" size="30" id="q" onkeyup="doSearch();" placeholder="Type to search..." />
	</form>
	<a href="{% url 'debtinfo:download_table' %}"><button>Download Table</button></a>
	<br />
	<br />
	<table border="1" width="500" id="tdebtors">
		<tr>
			<th align="center"><strong>First Name</strong></th>
			<th align="center"><strong>Last Name</strong></th>
			<th align="center"><strong>ID</strong></th>
			<th align="center"><strong>Cell</strong></th>
		</tr>

		{% for detail in debtors %}
			<tr>
				<td align="center">{{ detail.debtor.first_name }}</td>
				<td align="center">{{ detail.debtor.last_name }}</td>
				<td align="center">{{ detail.id_number }}</td>
				<td align="center">{{ detail.cell }}</td>
			</tr>
		{% endfor %}

	</table>

{% endblock %}

{% block javascript %}

<script type="text/javascript">
//<!--
/**
* Searches for the occurrence of the search term
* in the table rows
*/
function doSearch() {
    // Declare variables
    var input, filter, tr, td, i, j, tds, matched;
    input = document.getElementById("q");
    filter = input.value.toUpperCase();
    tr = document.getElementsByTagName("tr");

    // Loop through all table rows
    // Hide rows which don't match query
    for (i = 1; i < tr.length; i++) {
        tds = tr[i].getElementsByTagName("td");
        matched = false;

        for (j = 0; j < tds.length; j++) {
            td = tds[j];
            if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                matched = true;
                break;
            }

        }

        if (matched == true) {
            tr[i].style.display = "";
        } else {
            tr[i].style.display = "none";
        }

        }
    }
//-->
</script>

{% endblock %}